App bao bia bang camera

1. multiple USB cameras connect to computer
2. python app

Workflow:
- bấm thêm dải bắn (vd có 10 dải/bệ bắn thì thêm 10 lần)
- bấm bắt đầu bắn: tạo ra các thư mục, chụp hình ảnh bia an toàn để đối chiếu kết quả
- hô khẩu lệnh "bắt đầu bắn"
- đợi bắn xong 1 loạt
- bấm nút bắn xong 1 loạt để máy tính toán kết quả của loạt này và lưu lại
- review ket qua, thêm lỗ đạn chưa nhận diện dc hoặc xóa lỗ đạn nhận diện sai
- đọc kết quả loạt này

- bấm nút bắn loạt tiếp theo
- hô khẩu lệnh cho loạt tiếp theo bắt đầu bắn
- đợi bắn xong 1 loạt
- bấm nút bắn xong 1 loạt để máy tính toán kết quả của loạt này và lưu lại
- review ket qua, thêm lỗ đạn chưa nhận diện dc hoặc xóa lỗ đạn nhận diện sai
- đọc kết quả loạt này

- cứ thế đến hết số loạt 
- sau đó bấm nút xem kết quả và kết thúc bắn

TODO
- cong thuc elip de xac dinh diem cua tung phat ban (done)
- bia so 4 co khoang trang, neu lo dan vao khoang trang thi loai bo
- quan trong: nam dc khai niem edges, threshold, houghcircle param1 param2
- goc nghieng chua nhan dien duoc 1 so lo
- xác định tâm bia (hiện tại xác định tâm bia bằng tay)
- xác định a và b thực tế của bia elip
- viet form de add camera

solution:
- detect circles, nếu góc chụp thấp: detect elipse, cần làm: filter elipse (pre and póst processing ket qua)
- todo: flatten image, remove background, focus on target, zoom, camera_matrix, dist coeffs, filter 1 cach tot hon =))